@font-face {
  font-family: "iconfont"; /* Project id 3456720 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-zuixiaohua:before {
  content: "\e629";
}

.icon-3zuidahua-1:before {
  content: "\e65d";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-yinliang:before {
  content: "\e87a";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-zanting:before {
  content: "\e662";
}

.icon-24gl-minimize2:before {
  content: "\ea6b";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-geciweidianji:before {
  content: "\e727";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a2";
}

.icon-yinxiao:before {
  content: "\e605";
}

